body {
  text-align: center;
}

#game-over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 999;
}

#reset {
  width: 10em;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  margin: 0px auto;
  min-width: 200px;
  max-width: 85vh;
}

.cell {
  width: 100%;
  padding-top: 100%;
  background-color: rebeccapurple;
  position: relative;
}

.cell>p {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}